<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cd9dc920-e1fd-4f4e-9a90-5dd86b666d9d/resourcegroups/SwapRest/providers/Microsoft.Web/sites/swaprest</ResourceId>
    <ResourceGroup>SwapRest</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://swaprest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>swaprest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>swaprest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$swaprest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="swapdb" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:swapserver.database.windows.net,1433;Initial Catalog=swaprestdb;User ID=u201620296@swapserver;Password=8Wb#1Hoy" Name="Data Source=tcp:swapserver.database.windows.net,1433;Initial Catalog=swaprestdb;User Id=u201620296@swapserver;Password=8Wb#1Hoy" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SwapRest.Models.Entities.swapdb, SwapRest" MigrationConfiguration="SwapRest.Migrations.Configuration, SwapRest" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="swapdb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:swapserver.database.windows.net,1433;Initial Catalog=swaprestdb;User Id=u201620296@swapserver;Password=8Wb#1Hoy</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>